{% extends '../base.html.twig' %}
{% block title %}Product page{% endblock %}

{% block body %}

    <div class="container">
        <div class="product">
            <div class="product-gallery">
                <img class="main-image" id="mainImage" src="{{ asset('images/Bicicleta-MTB-Colinelli-COL05--Marimea-L--29-inch--Albastru--Schimbator-Shimano--21-Viteze--Cadru-Otel--Frane-pe-Disc_jpg.webp') }}" alt="Nume Produs">
                <div class="thumbnails" id="thumbnailContainer">
                    <img src="{{ asset('images/Bicicleta-MTB-Colinelli-COL05--Marimea-L--29-inch--Albastru--Schimbator-Shimano--21-Viteze--Cadru-Otel--Frane-pe-Disc_jpg.webp') }}" alt="Thumbnail 1" onclick="changeImage(this)">
                    <img src="{{ asset('images/logo%20Den%20Sports.png') }}" alt="Thumbnail 2" onclick="changeImage(this)">
                </div>
            </div>
            <div class="product-details">
                <p class="title-product">Bicicleta Montan Bike</p>
                <p class="price">Preț: {{ product.price}} RON</p>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam blandit neque non cursus.</p>
                <p class="text-danger font-weight-bold">Oferă specială - Cumpără 2 articole și beneficiază de 10% reducere!</p>
                <div class="options">
                    <label for="quantity">Cantitate:</label>
                    <input type="number" id="quantity" name="quantity" min="1" value="1">
                </div>

            </div>
        </div>

        <div class="tabs">
            <button class="tablinks active" onclick="openTab(event, 'descriere')">Descriere</button>
            <button class="tablinks" onclick="openTab(event, 'specificatii')">Specificatii</button>
            <button class="tablinks" onclick="openTab(event, 'review-uri')">Review-uri</button>
        </div>

        <div id="descriere" class="tabcontent active">
            <h2>Descriere</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, inventore itaque molestiae nemo ullam veniam. Accusantium animi consequatur, debitis dignissimos dolorem doloribus enim eos eveniet ex excepturi facilis fuga fugiat impedit inventore ipsum laborum mollitia non pariatur porro quidem quis recusandae sapiente sequi sit temporibus tenetur unde veniam? A accusantium aspernatur beatae, dolore eaque incidunt molestias mollitia nulla odio placeat possimus quam quia, recusandae repellat voluptas? Atque deleniti impedit incidunt nemo. Animi aut, consequuntur cum, deleniti dolorum ea eius et exercitationem explicabo harum impedit magnam maxime modi molestiae necessitatibus nisi, officia omnis optio pariatur quaerat quos repellat velit vitae voluptatem?</p>
        </div>

        <div id="specificatii" class="tabcontent">
            <h1>Specificatii</h1>
            <table>
                <tr>
                    <th>Cadru</th>
                    <td>Aluminiu 6061</td>
                </tr>
                <tr>
                    <th>Furcă</th>
                    <td>Suspensie, curse de 100 mm (hardtail)</td>
                </tr>
                <tr>
                    <th>Transmisie</th>
                    <td>11 viteze, Shimano Deore</td>
                </tr>
                <tr>
                    <th>Frâne</th>
                    <td>Disc hidraulice, Shimano MT200</td>
                </tr>
                <tr>
                    <th>Roți</th>
                    <td>27.5 inch, jante aluminiu, anvelope tubeless ready 2.4 inch</td>
                </tr>
                <tr>
                    <th>Greutate</th>
                    <td>Aproximativ 13 kg</td>
                </tr>
                <tr>
                    <th>Accesorii</th>
                    <td>Suport bidon, protecții cadru și furcă</td>
                </tr>
                <tr>
                    <th>Culori disponibile</th>
                    <td>Negru mat, albastru electric, roșu intens</td>
                </tr>
                <tr>
                    <th>Utilizare recomandată</th>
                    <td>MTB trails, all-mountain, XC (cross-country)</td>
                </tr>
            </table>
        </div>

        <div id="review-uri" class="tabcontent">
            <h2>Review-uri</h2>
            <p>Nu sunt review-uri disponibile pentru acest produs.</p>
        </div>
    </div>

{% endblock %}